PORT=4000
ENV=development
APP_URL=https://localhost:3000

DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASS=
DB_NAME=hono_be
DB_SYNC=true

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

JWT_SECRET=supersecretkey
JWT_REFRESH_SECRET=superrefreshsecretkey

API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

MINIO_ENDPOINT=
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=hono-be
